#wp-admin-bar-backwpup > .ab-item .ab-icon, #wp-admin-bar-backwpup > a > span .ab-icon {
    background-image: url(BackWPup16.png);
    background-repeat: no-repeat;
    color:#ff0000;
    font-weight:bold;
    text-decoration:blink;
    position: relative;
    /* for WP lower 3.3  */
    float: left;
    width: 16px;
    height: 16px;
    margin-top: 6px;
}
#wp-admin-bar-backwpup_working {
    color:red;
    text-decoration:blink;
}
