#icon-backwpup {
	background:  url('backup-icon32.gif') no-repeat;
}
.column-id {
	width:5%;text-align:center;
}
.column-last, .column-next , .column-type {
	width:15%;
}
.column-info {
	width:20%;
}
