#icon-backwpup {
	background:  url('backup-icon32.gif') no-repeat;
}
.column-id {
	width:5%;text-align:center;
}
.column-runtime, .column-status ,  .column-size {
	width:8%;
}
.column-type {
	width:15%;
}