.column-id {
	width:40px;text-align:center;
}
.column-runtime, .column-last, .column-next , .column-status , .column-type {
	width:135px;
}
.column-info {
	width:150px;
}
.column-size {
	width:75px;
}